<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div id="container">

  {% for imgURL in imgList %}

     <a href="/detail?info={{imgURL}}">
         <image src="{{imgURL}}"></image>
     </a>
            {% endfor %}


 </div>

<form id="upload-form" action='{{url_for('uploadimg')}}' method='post' enctype="multipart/form-data" >
  <input type="file" name="file" accept="image/*" multiple>
  <input type="submit" value="Upload">
</form>

</body>
</html>
</body>
</html>
